html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
}

header {
    height: 100vh;
    background: black url("/img/intro-bg.jpg") no-repeat bottom center;
    background-size: cover;
}
