<div class="d-flex flex-column-reverse flex-md-row justify-content-center cap-width">
	<div style="flex: 2 0 0;">
		<div *ngIf="error" class="alert alert-danger py-2">
			Coming Soon: This feature is under development
		</div>
		<form [formGroup]="form">
			<div>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email">
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Subject</mat-label>
					<mat-select formControlName="subject">
						<mat-option value="General">General Inquiry</mat-option>
						<mat-option value="Castra">Castra Event</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Message</mat-label>
					<textarea matInput rows="10" formControlName="body"></textarea>
				</mat-form-field>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<mat-checkbox color="primary">Send me a copy</mat-checkbox>
				</div>
				<div>
					<button mat-stroked-button class="me-3" (click)="reset()">Reset</button>
					<button mat-raised-button color="primary" (click)="error = true">Send</button>
				</div>
			</div>
		</form>
	</div>
	<div class="px-3">
		<div class="d-block d-md-none my-5 border-top border-dark" style="height: 1px; width: 100%;"></div>
		<div class="d-none d-md-block mx-4 border-end border-dark" style="height: 100%; width: 1px;"></div>
	</div>
	<div class="d-flex flex-column text-center text-md-start align-self-center" style="width: min(100%, 250px)">
		<div *ngIf="form.controls['subject'].value != 'Castra'">
			<h3>Robert Sacco</h3>
			<h4 class="mb-0">Legio XXX President</h4>
			<h5>Portrays: Aquilifer Primus Marius Maximus</h5>
			<a href="mailto:primuspiluslxxx@gmail.com" target="_blank">primuspiluslxxx@gmail.com</a>
		</div>
		<div *ngIf="form.controls['subject'].value == 'Castra'">
			<h3>Tom Ross</h3>
			<h4 class="mb-0">Legio XXX <em>Patronus</em> (Patron)</h4>
			<h5>Portrays: Titus Quartinius Saturnalus</h5>
			<a href="mailto:tomlongwoods@gmail.com" target="_blank">tomlongwoods@gmail.com</a>
		</div>
	</div>
</div>
