<div class="invert">
	<div class="cap-width py-5 px-3">
		<div class="row">
			<!-- Buy Equipment Card -->
			<div class="col-12 col-md-6 mb-4">
				<div class="p-4 border rounded shadow-sm">
					<div class="mb-3">
						<h1 class="mb-0">Buy Equipment</h1>
						<mat-divider class="mt-2"></mat-divider>
					</div>
					<ul class="mt-3">
						<li><a href="https://armae.com/en" target="_blank">Arma</a></li>
						<li><a href="https://www.by-the-sword.com/">By The Sword</a></li>
						<li><a href="https://www.facebook.com/FabricaCacti" target="_blank">Fabrica Cacti</a></li>
						<li><a href="http://www.lawrensnest.com">La Wren's Nests</a></li>
					</ul>
				</div>
			</div>

			<!-- Build Equipment Card -->
			<div class="col-12 col-md-6">
				<div class="p-4 border rounded shadow-sm">
					<div class="mb-3">
						<h1 class="mb-0">Build Equipment</h1>
						<mat-divider class="mt-2"></mat-divider>
					</div>
					<ul class="mt-3">
						<li><em>Balteus</em> (Belt): <a href="/assets/manuals/Beltus%20Part%201%20-%20Robert%20Norton.pdf" target="_blank"> Part 1</a>, <a href="/assets/manuals/Beltus%20Part%202%20-%20Robert%20Norton.pdf" target="_blank">Part 2</a></li>
						<li><a href="/assets/manuals/Calcei%20-%20Lee%20Holeva.pdf" target="_blank"><em>Calcei</em> (Boots)</a></li>
						<li><a href="/assets/manuals/Caligae%20-%20Robert%20Norton.pdf" target="_blank"><em>Caligae</em> (Sandals)</a></li>
						<li><a href="/assets/manuals/Helmet%20Liner%20-%20Robert%20Norton.pdf" target="_blank">Helmet Liner</a></li>
						<li><a href="/assets/manuals/Loculus%20-%20Robert%20Norton.pdf" target="_blank"><em>Loculus</em> (Bag)</a></li>
						<li><em>Lorica Hamata</em> (Chain-mail): <a href="/assets/manuals/Lorica%20Hamata%20Part%201.pdf" target="_blank"> Part 1</a>, <a href="/assets/manuals/Lorica%20Hamata%20Part%202.pdf" target="_blank">Part 2</a></li>
						<li><a href="/assets/manuals/Scutum.pdf" target="_blank"><em>Scutum</em> (Shield)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
