ul {
	list-style: none;
	padding: 0;
}

.sitemap-header {
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
}

.copyright {
	a, a:visited { color: #b10000; }
	a:hover, a:visited:hover { color: #cc0000; }
}
