

ul {
	list-style: none;
	padding: 0;

	a, a:visited {
		color: rgba(255, 255, 255, 0.6);
	}

	li {
		color: rgba(255, 255, 255, 0.75);
	}
}

.sitemap-header {
	color: rgba(255, 255, 255, 0.9);
	margin: 0;
}

.copyright {
	a, a:visited { color: #b10000; }
	a:hover, a:visited:hover { color: #cc0000; }
}
