<footer>
	<div class="social text-center py-3" style="background: #990000">
		<div class="text-center d-flex flex-row justify-content-center align-items-center gap-3">
			<hr class="flex-grow-1 m-0 opacity-75">
			<div class="d-flex flex-column align-items-end">
				<h2 class="mb-0">Ready to Enlist?</h2>
				<p class="mb-0">Take your place in our ranks...</p>
			</div>
			<div class="d-flex align-items-center">
				<a [routerLink]="['/register']" class="btn btn-light btn-lg">JOIN NOW</a>
			</div>
			<hr class="flex-grow-1 m-0 opacity-75">
		</div>
	</div>
	<div class="bg-dark text-center text-sm-start">
		<div class="d-flex flex-column flex-sm-row flex-wrap justify-content-center container p-3 pb-0">
			<div *ngFor="let group of navigation" class="mx-5">
				<h2 class="sitemap-header">{{group.label}}</h2>
				<ul>
					<ng-container *ngFor="let section of group.children">
						<li *ngFor="let item of section">
							<a [routerLink]="item.url" [fragment]="item.fragment">{{item.label}}</a>
						</li>
					</ng-container>
				</ul>
			</div>
			<div class="mx-5">
				<h2 class="sitemap-header">Contact</h2>
				<ul>
					<li class="font-weight-strong">Robert Sacco</li>
					<li>Legio XXX President</li>
					<li>Email: <a href="mailto:primuspiluslxxx@gmail.com" target="_blank">primuspiluslxxx@gmail.com</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="py-3 text-center">
		<p class="copyright m-0">
			Copyright &copy; Legio XXX 2024 | All Rights Reserved<br>
			Created by <a href="https://zakscode.com" target="_blank">Zak Timson</a> | Built with <a href="https://momentum.zakscode.com" target="_blank">Momentum</a>
		</p>
	</div>
</footer>
