<footer>
	<div class="social text-center py-3" style="background: #990000">
		<h2 class="mb-4">Follow us on social media</h2>
		<div class="d-flex justify-content-around mx-auto transparent-link" style="max-width: 300px">
			<a href="https://discord.gg/wW458KYR79" target="_blank">
				<i class="fa-brands fa-discord fa-2xl"></i>
			</a>
			<a href="https://facebook.com" target="_blank" aria-label="Facebook">
				<i class="fa-brands fa-facebook fa-2xl"></i>
			</a>
			<a href="https://instagram.com" target="_blank" aria-label="Instagram">
				<i class="fa-brands fa-instagram fa-2xl"></i>
			</a>
			<a href="https://tiktok.com" target="_blank" aria-label="TikTok">
				<i class="fa-brands fa-tiktok fa-2xl"></i>
			</a>
			<a href="https://youtube.com" target="_blank" aria-label="Youtube">
				<i class="fa-brands fa-youtube fa-2xl"></i>
			</a>
		</div>
		<h3 class="mt-4 mb-0">so we can invade your feed ⚔️</h3>
	</div>
	<div style="background: #333">
		<div class="mx-auto d-flex justify-content-center flex-wrap">
			<div *ngFor="let group of navigation" class="m-3" style="min-width: 175px">
				<h2 class="sitemap-header">{{group.label}}</h2>
				<ul class="m-0">
					<ng-container *ngFor="let section of group.children">
						<li *ngFor="let item of section">
							<a [routerLink]="item.url" [fragment]="item.fragment">{{item.label}}</a>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</div>
	<div class="py-2 text-center">
		<p class="copyright m-0">
			Copyright &copy; Legio XXX 2022 | All Rights Reserved<br>
			Created by <a href="https://zakscode.com" target="_blank">Zak Timson</a>
		</p>
	</div>
</footer>
