<footer>
	<div class="text-center py-3" style="background: #7f0000">
		<h2 class="mb-4">Follow us on social media</h2>
		<div class="d-flex justify-content-around mx-auto" style="max-width: 300px">
			<i class="fa-brands fa-discord fa-2xl"></i>
			<i class="fa-brands fa-facebook fa-2xl"></i>
			<i class="fa-brands fa-instagram fa-2xl"></i>
			<i class="fa-brands fa-tiktok fa-2xl"></i>
			<i class="fa-brands fa-youtube fa-2xl"></i>
		</div>
		<h3 class="mt-4 mb-0">so we can invade your feed</h3>
	</div>
	<div class="footer-map"></div>
	<div class="p-2" style="background: #333">
		<div class="mx-auto d-flex justify-content-around" style="max-width: 800px">
			<div>
				<h2 class="sitemap-header">Home</h2>
				<ul class="m-0">
					<li><a routerLink="/">About</a></li>
					<li><a routerLink="/">Gallery</a></li>
					<li><a routerLink="/">Contact</a></li>
				</ul>
			</div>
			<div>
				<h2 class="sitemap-header">Learn</h2>
				<ul class="m-0">
					<li><a routerLink="/">Legio XXX</a></li>
					<li><a routerLink="/">Legion Camp</a></li>
					<li><a routerLink="/">Legion Headquarters</a></li>
					<li><a routerLink="/">Legion Organization</a></li>
					<li><a routerLink="/">Legionairy Equipment</a></li>
					<li><a routerLink="/">Legionairy Training</a></li>
					<li><a routerLink="/">Resources</a></li>
				</ul>
			</div>
			<div>
				<h2 class="sitemap-header">Events</h2>
				<ul class="m-0">
					<li><a routerLink="/">Castra Aestiva</a></li>
					<li><a routerLink="/">Castra Hiberna</a></li>
					<li><a routerLink="/">Callendar</a></li>
				</ul>
			</div>
			<div>
				<h2 class="sitemap-header">Members</h2>
				<ul class="m-0">
					<li><a routerLink="/">Getting Started</a></li>
					<li><a routerLink="/">Rules & Regulations</a></li>
					<li><a routerLink="/">Approved Vendors</a></li>
					<li><a routerLink="/">Kit Assembly</a></li>
					<li><a routerLink="/">Kit Maintinance</a></li>
					<li><a routerLink="/">Login/Register</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="py-2 text-center">
		<p class="m-0">
			Copyright &copy; Legio XXX 2022 | All Rights Reserved<br>
			Created by <a href="https://zakscode.com" target="_blank">Zak Timson</a>
		</p>
	</div>
</footer>
