<mat-toolbar>
	<mat-toolbar-row>
		<div>
			<a class="navbar-brand d-flex align-items-center" routerLink="/" fragment="banner" (click)="scroll('banner')">
				<img src="assets/img/capricorn.png" alt="Capricorn" height="45px" width="45px">
				<div class="px-2">LEGIO · XXX</div>
			</a>
		</div>
		<div class="flex-grow-1"></div>
		<div *ngIf="!hamburger">
			<a *ngFor="let item of links.topLevel" [routerLink]="item.url" [fragment]="item.fragment"
			   (click)="item.fragment ? scroll(item.fragment) : null">
				<button mat-button class="navbar-button">{{item.label}}</button>
			</a>
			<ng-container *ngFor="let group of links.other">
				<ng-template [ngTemplateOutlet]="navGroup" [ngTemplateOutletContext]="{'$implicit': group}"></ng-template>
			</ng-container>
		</div>
		<button *ngIf="hamburger" mat-icon-button class="mr-3">
			<mat-icon (click)="hamburgerClick.emit()">menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<div class="navbar-spacing"><!-- Spacing --></div>

<ng-template #navGroup let-group>
	<button mat-button [matMenuTriggerFor]="menu" class="navbar-button">
		{{group.label}} <mat-icon>expand_more</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<ng-container *ngFor="let section of group.children; let first = first">
			<mat-divider *ngIf="!first"></mat-divider>
			<button *ngFor="let item of section" mat-menu-item [routerLink]="item.url" [fragment]="item.fragment"
				        (click)="item.fragment ? scroll(item.fragment) : null">
				{{item.label}}
			</button>
		</ng-container>
	</mat-menu>
</ng-template>
