<mat-toolbar class="d-print-none">
	<mat-toolbar-row>
		<!-- Brand -->
		<a class="navbar-brand" routerLink="/" style="text-decoration: none">
			<xxx-logo class="px-2" [expand]="true"></xxx-logo>
		</a>
		<!-- Spacer -->
		<div class="flex-grow-1"></div>
		<!-- Full NavBar -->
		<div *ngIf="!hamburger">
			<a *ngFor="let item of links.topLevel" [routerLink]="item.url" [fragment]="item.fragment">
				<button mat-button class="navbar-button" aria-label="Menu">{{item.label}}</button>
			</a>
			<ng-container *ngFor="let group of links.other">
				<button mat-button [matMenuTriggerFor]="menu" class="navbar-button">
					{{group.label}} <mat-icon>expand_more</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<ng-container *ngFor="let section of group.children; let first = first">
						<mat-divider *ngIf="!first"></mat-divider>
						<button *ngFor="let item of section" mat-menu-item [routerLink]="item.url" [fragment]="item.fragment">
							{{item.label}}
						</button>
					</ng-container>
				</mat-menu>
			</ng-container>
		</div>
		<!-- Mobile NavBar -->
		<button *ngIf="hamburger" mat-icon-button class="text-start" [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item *ngFor="let item of links.topLevel" [routerLink]="item.url" [fragment]="item.fragment">
				{{item.label}}
			</button>
			<ng-container *ngFor="let group of links.other">
				<button mat-menu-item [matMenuTriggerFor]="menu">{{group.label}}</button>
				<mat-menu #menu="matMenu">
					<ng-container *ngFor="let section of group.children; let first = first">
						<mat-divider *ngIf="!first"></mat-divider>
						<button *ngFor="let item of section" mat-menu-item [routerLink]="item.url" [fragment]="item.fragment">
							{{item.label}}
						</button>
					</ng-container>
				</mat-menu>
			</ng-container>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
