<mat-toolbar class="d-print-none">
	<mat-toolbar-row>
		<div>
			<a class="navbar-brand d-flex align-items-center" routerLink="/" fragment="banner" (click)="scroll('banner')" style="text-decoration: none">
				<img src="assets/img/eagle.png" alt="SPQR" height="45px" width="45px">
				<xxx-logo class="px-2" [expand]="true"></xxx-logo>
			</a>
		</div>
		<div class="flex-grow-1"></div>
		<!-- Full NavBar -->
		<div *ngIf="!hamburger">
			<a *ngFor="let item of links.topLevel" [routerLink]="item.url" [fragment]="item.fragment"
			   (click)="item.fragment ? scroll(item.fragment) : null">
				<button mat-button class="navbar-button" aria-label="Menu">{{item.label}}</button>
			</a>
			<ng-container *ngFor="let group of links.other">
				<button mat-button [matMenuTriggerFor]="menu" class="navbar-button">
					{{group.label}} <mat-icon>expand_more</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<ng-container *ngFor="let section of group.children; let first = first">
						<mat-divider *ngIf="!first"></mat-divider>
						<button *ngFor="let item of section" mat-menu-item [routerLink]="item.url" [fragment]="item.fragment"
						        (click)="item.fragment ? scroll(item.fragment) : null">
							{{item.label}}
						</button>
					</ng-container>
				</mat-menu>
			</ng-container>
		</div>
		<!-- Mobile NavBar -->
		<button *ngIf="hamburger" mat-icon-button class="text-start" [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item *ngFor="let item of links.topLevel" [routerLink]="item.url" [fragment]="item.fragment"
			   (click)="item.fragment ? scroll(item.fragment) : null">{{item.label}}</button>
			<ng-container *ngFor="let group of links.other">
				<button mat-menu-item [matMenuTriggerFor]="menu">{{group.label}}</button>
				<mat-menu #menu="matMenu">
					<ng-container *ngFor="let section of group.children; let first = first">
						<mat-divider *ngIf="!first"></mat-divider>
						<button *ngFor="let item of section" mat-menu-item [routerLink]="item.url" [fragment]="item.fragment"
						        (click)="item.fragment ? scroll(item.fragment) : null">
							{{item.label}}
						</button>
					</ng-container>
				</mat-menu>
			</ng-container>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
<div class="navbar-spacing"><!-- Spacing --></div>

<ng-template #navGroup let-group>

</ng-template>
