<div class="invert">
	<div class="banner d-print-none"></div>
	<div class="cap-width py-5 px-3">
		<div>
			<div class="d-flex align-items-end justify-content-between mb-2">
				<h1 class="mb-0">Resources</h1>
				<a class="d-none d-print-none d-sm-flex justify-content-center text-muted" href="javascript:window.print()">
					<mat-icon class="me-1">print</mat-icon>
					Print
				</a>
			</div>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div>
			<h2 class="mb-2">Websites</h2>
			<ul class="mt-0">
				<li><a href="https://www.legioix.org" target="_blank">Legio IX Hispana (https://legioix.org)</a></li>
				<li><a href="https://www.larp.com/legioxx/hndbk.html" target="_blank">Legio XX Handbook (https://larp.com/legioxx)</a></li>
				<li><a href="https://principialegionis.org" target="_blank">Principia Legionis (https://principialegionis.org)</a></li>
				<li><a href="http://romanempire.net/romepage/Links/roman_reenactment_groups.htm" target="_blank">Find a Reenactment Group (https://romanempire.net)</a></li>
			</ul>
		</div>
		<div>
			<h2 class="mb-2">Modern</h2>
			<h3 class="mb-2">Life</h3>
			<ul>
				<li>Adkins, Lesley and Adkins, Roy A. <strong>Handbook to Life in Ancient Rome</strong>: New York: Oxford University Press, 1994</li>
				<li>Connolly, Peter and Dodge, Hazel. <strong>The Ancient City – Life in Classical Athens & Rome</strong>: Oxford: Oxford University Press, 2001</li>
				<li>Harlow, Mary and Laurence, Ray. <strong>Growing Up and Growing Old in Ancient Rome</strong>: London; Routlage, 2002</li>
				<li>Shelton, Jo-Ann. <strong>As the Romans Did</strong>: New York: Oxford University Press; 1998 (2nd ed.)</li>
			</ul>
			<h3 class="mb-2">Warfare</h3>
			<ul class="mt-0">
				<li>Bishop, M.C. & Coulston, J.C.N. <strong>Roman Military Equipment</strong>: Oxford: Oxbow Books, 2006</li>
				<li>Breeze, David J. <strong>The Frontiers of Imperial Rome</strong>: South Yorkshire: Pen & Sword Books Ltd., 2011</li>
				<li>Gilliver, Kate, Goldsworthy, Adrian, Whitby, Michael. <strong>Rome at War (Caesar and his Legacy)</strong>: Oxford: Osprey Publishing, 2005</li>
				<li>Goldsworthy, Adrian. <strong>The Complete Roman Army</strong>: London: Thames & Hudson Ltd., 2003</li>
				<li>Goldsworthy, Adrian. <strong>Roman Warfare</strong>: London: Cassell & Co., 2000</li>
				<li>Hyland, Ann. <strong>Training the Roman Cavalry (From Arrian’s Ars Tactica)</strong>: Gloucestershire; Sutton Publishing Limited, 1993</li>
				<li>Keppie, Lawrence. <strong>The Making of the Roman Army: From Republic to Empire</strong>: Oklahoma: University of Oklahoma Press, 1998</li>
				<li>Kern, Paul Bentley. <strong>Ancient Siege Warfare</strong>: Bloomington, Indiana: Indiana University Press, 1999</li>
				<li>Kiley, Kevin F. <strong>An Illustrated Encyclopedia of the Uniforms of the Roman World</strong>: Dayton, Ohio: Lorenz Books., 2019</li>
				<li>Le Bohec, Yann. <strong>The Imperial Roman Army</strong>: New York: Routledge, 2001</li>
				<li>Parker, H.M.D. <strong>The Roman Legions</strong>: Dorset Press, N.Y. (reprint of [1928] 1957 second edition); 1992</li>
				<li>Peterson, Daniel. <strong>The Roman Legions Recreated in Colour Photographs</strong>: Wiltshire: The Crowood Press Ltd., 2001</li>
				<li>Matyszak, Philip. <strong>Legionary: The Roman Soldier's (unofficial) Manual</strong>: London: Thames & Hudson Ltd., 2009</li>
				<li>May, Elmer, Stadler, Gerald P., Votaw, John F. (Department of History, United States Military Academy, West Point, New York). <strong>Ancient & Medieval Warfare</strong>: Wayne, N.J.: Avery Publishing Group Inc., 1984</li>
				<li>Pollard, Nigel & Berry, Joanne. <strong>The Complete Roman Legions</strong>: London: Thames & Hudson, 2012</li>
				<li>Roth, Jonathan P. <strong>Roman Warfare</strong>: New York: Cambridge University Press, 2009</li>
				<li>Scarre, Chris. <strong>Chronicle of The Roman Emperors</strong>: London: Thames & Hudson Ltd., 1995</li>
				<li>Shirley, Elizabeth. <strong>Building a Roman Legionary Fortress</strong>: Charleston S.C.: Arcadia Publishing Inc. (a Division of Tempus), 2001</li>
				<li>Simkins, Michael. <strong>Warriors of Rome</strong>: London: Blandford, 1988</li>
				<li>Southern, Pat. <strong>The Roman Army, A Social & Institutional History</strong>: New York: Oxford University Press, 2006</li>
				<li>Watson, G.R. <strong>The Roman Soldier</strong>: New York: Cornell University Press, 1985</li>
				<li>Wary, John. <strong>Warfare in the Classical World</strong>: Norman, Oklahoma: University of Oklahoma Press, 1995</li>
				<li>Webster, Graham. <strong>The Imperial Roman Army (of the First and Second Centuries A.D.)</strong>: Norman, Oklahoma: University of Oklahoma Press, 1998 (3rd ed.)</li>
				<li>Woolliscroft, D.I. <strong>Roman Military Signalling</strong>: Charleston: Tempus Publishing Inc., 2001</li>
			</ul>
		</div>
		<div>
			<h2 class="mb-2">Historical</h2>
			<h3 class="mb-2">Accounts</h3>
			<ul class="mt-0 extra-spacing">
				<li>
					Titus Livius (AKA Livy). <strong>Ab Urbe Condita</strong>: 753 - 9 BC<br>
					History of ancient Rome and includes the cities founding legends, the expulsion of kings and the reign of Augustus.
				</li>
				<li>
					Polybius. <strong>Historiae</strong>: 264 - 146 BC<br>
					History of the Roman Republic including the Punic wars & subjugation of Greece.
				</li>
				<li>
					Appian of Alexandria. <strong>Romaica</strong>: Circa 3rd Century BC - 43 BC<br>
					What remains recounts the foreign wars from the republic and the civil wars up to the Second Triumvirate
				</li>
				<li>
					Flavius Josephus. <strong>Bellum Iudaicum</strong>: 168 BC - 70 AD<br>
					Summarized history of the Jewish wars including the first Jewish Revolt.
				</li>
				<li>
					Gaius Julius Caesar. <strong>De Bello Gallico</strong> (AKA <strong>Bellum Gallicum</strong>): 58 - 50 BC<br>
					First hand account of the Gallic wars.
				</li>
				<li>
					Gaius Julius Caesar. <strong>De Bello Civili</strong> (AKA <strong>Bellum Civile</strong>): 49 - 48 BC<br>
					A first hand account of Caesar's civil war against Pompey the Great & the Roman Senate.
				</li>
				<li>
					Gaius Julius Caesar (?). <strong>De Bello Alexandrino</strong> (AKA <strong>Bellum Alexandrinum</strong>): 47 - 46 BC<br>
					Continuation of Caesar's civil war while in Alexandria (Egypt) & Asia.
				</li>
				<li>
					Gaius Julius Caesar (?). <strong>De Bello Africo</strong> (AKA <strong>Bellum Africum</strong>): 46 BC<br>
					Continuation of Caesar's civil war while in the province of Africa.
				</li>
				<li>
					Gaius Julius Caesar (?). <strong>De Bello Hispaniensi</strong> (AKA <strong>Bellum Hispaniense</strong>): 45 BC<br>
					Continuation and end of Caesar's civil war while in Iberian Peninsula.
				</li>
				<li>
					Publius Cornelius Tacitus. <strong>Annales</strong>: 42 BC - 68 AD<br>
					The history of Rome, from Tiberius to Nero<br>
				</li>
				<li>
					Publius Cornelius Tacitus. <strong>Historiae</strong>: 42 -  96 AD<br>
					The history of Rome, from the downfall of nero to the death of Domitian (surviving documents span to Vespasian's reign)
				</li>
				<li>
					Flavius Arrianus Xenophon (AKA Arrian of Nicomedia). 85 - 190 AD<br>
					Several works, including the history of Alexander the Great, various military campaigns, notes on the philosopher Epictetus, & guides on hunting, navigation & cavalry
				</li>
				<li>
					Ammianus Marcellinus. <strong>Restrum Gestarum Libri</strong> (AKA <strong>Res gestae</strong>): 96 - 378 AD<br>
					The history of Rome from the ascension of Nerva to the death of Valens from (Only 353 - 378 AD survive)
				</li>
				<li>
					Lucius Mestrius Plutarchus (AKA Plutarch). 50 AD - 120 AD<br>
					Wrote over 50  biographies including those of Alexander the Great, Caesar & several emperors
				</li>
				<li>
					Publius Cornelius Tacitus. <strong>De Vita Julii Agricolae</strong>: 77 - 84 AD<br>
					Recounts the the life of Gnaeus Jilius Agricola, a Roman governor of Britain.
				</li>
				<li>
					Publius Cornelius Tacitus. <strong>De Origine et situ Germanorum</strong> (AKA <strong>Germania</strong>): 98 AD<br>
					The history of the Germanic people outside of the Roman Empire
				</li>
				<li>
					Lucius Cassius Dio (AKA Dio Cassius). <strong>Historia Romanae</strong>: 155 AD - 235 AD<br>
					80 volume history of Rome from it's foundation to the 3rd century
				</li>
			</ul>
			<h3 class="mb-2">Manuals</h3>
			<ul class="mt-0 extra-spacing">
				<li>
					Flavius Vegetius Renatus. <strong>Epitoma Rei Militaris</strong> (AKA <strong>De Re Militari</strong>): Circa 4th - 5th Century<br>
					Summary of historic military manuals
				</li>
				<li>
					Flavius Mauricius Tiberius Augustus. <strong>Strategikon</strong>: 539 AD - 602 AD<br>
					Comprehensive handbook & manual on war
				</li>
				<li>
					Gaius Julius Hyginus (?). <strong>De Munitionibus Castrorum</strong> (AKA <strong>De Metatione Castrorum</strong>): Circa 1st - 4th century<br>
					Collection of military camp layouts
				</li>
				<li>
					Sextus Julius Frontinus. <strong>Stratagemata</strong>: Circa late 1st Century<br>
					Collection of historic examples of Greek & Roman military stratagems
				</li>
			</ul>
		</div>
		<div class="d-flex p-3 pe-4 border rounded-1 bg-light align-items-center mt-4" style="max-width: min(100%, 550px)">
			<div class="pe-3">
				<img src="/assets/img/quote.png" alt="Info icon" style="height: 75px; width: auto">
			</div>
			<div>
				<h3 class="mb-1">Special Thanks</h3>
				<p class="m-0">Special thanks to our <em>Tribunus angusticlavius</em> (Staff Officer),<br>David Blain for providing sources</p>
				<a href="https://principialegionis.org/index.php/the-roman-army/resources/" target="_blank">More Info</a> / <a href="https://principialegionis.org" target="_blank">https://principialegionis.org</a>
			</div>
		</div>
	</div>
</div>
