<div class="invert">
	<div class="cap-width py-5 px-3">
		<div>
			<div class="d-flex align-items-end justify-content-between mb-2">
				<h1 class="mb-0">Rules & Regulations</h1>
				<a class="d-none d-print-none d-sm-flex justify-content-center text-muted" href="javascript:window.print()">
					<mat-icon class="me-1">print</mat-icon>
					Print
				</a>
			</div>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div>
			<h2 class="mb-2">General</h2>
			<p>It is the responsibility of members to:</p>
			<ol class="mt-1" >
				<li>Respect the chain of command</li>
				<li>Behave like a professional Roman soldier</li>
				<li>Follow the dress code at all times & stay in character</li>
				<li>Accept constructive criticism with grace & an open mind</li>
				<li>Be polite & respectful, you not only represent yourself but the group</li>
				<li>Be courteous and helpful to anyone hosting the legion</li>
				<li>Keep the venue clean & ensure everything is returned to it's original state before departing</li>
				<li>Have basic knowledge about what we reenact & answer questions as accurately as possible;
					<strong>Do not hesitate to admit when you don't know the answer & refer to someone else</strong>
				</li>
				<li>Posses the minimum amount of kit needed to participate (Let us know if you need something)</li>
				<li>Equipment is to be as period correct and functional as materials and costs permit</li>
				<li>All kit should be inspected for cleanliness and serviceability; see our <a href="/maintenance">maintenance</a> page</li>
				<li>Absolutely no modern day paraphernalia is permitted (i.e., sunglasses, eyeglasses, wrist watches, piercings of any kind, eccentric hair colour, inappropriate visible tattoos, etc.)</li>
				<li>Some modern equipment (camping, food, etc.) is permitted after hours provided it is hidden during operational hours</li>
				<li>During public events all belongings should be secured by at least one member or an assistant</li>
			</ol>
		</div>
		<div>
			<h2 class="mb-2">Dress Code</h2>
			<h3 class="mb-2">Legionaries</h3>
			<p>
				The following is a list of equipment needed to participate, depending on the weather & who you are portraying your requirements may be different.
				Check the <a href="/info/equipment">equipment</a> page for a full list:
			</p>
			<h4 class="mb-0">Minimum</h4>
			<small class="text-muted">Around camp & public events</small>
			<ul class="mt-1">
				<li><em>Tunica</em> (Tunic) - A large shirt/dress held at the waist by a cord or cloth belt</li>
				<li><em>Caligae</em> (Sandals) - Modern leather sandals will do in a pinch</li>
				<li><em>Balteus</em> (Belt) - A leather ornamental apron used to affix weapons</li>
				<li><em>Pugio</em> (Dagger) - Attached to the <em>Balteus</em></li>
			</ul>
			<h4 class="mb-0">Battle Dress</h4>
			<small class="text-muted">During drill & demonstrations</small>
			<ul class="mt-1">
				<li>Everything above</li>
				<li><em>Cassis</em> (Helmet) - To protect your head</li>
				<li><em>Subarmalis</em> (Padded Vest) - Worn under your armour for comfort and protection</li>
				<li><em>Focale</em> (Scarf) - Protects the neck from chaffing</li>
				<li><em>Lorica</em> (Armour) - Segmata, hamata or plumata/squamta</li>
				<li><em>Gladius</em> (Sword) - The primary weapon of the empire</li>
				<li><em>Scutum</em> (Shield) - A large curved shield</li>
				<li><em>Pilum</em> (Javelin) - A ranged throwing weapon</li>
			</ul>
			<h3 class="mb-2">Non-Legionaries</h3>
			<p>Any re-enactors are welcome as long as they stay period correct for the 1st-2nd century AD. This could include civilians, barbarians & Greeks.</p>
		</div>
		<div>
			<h2 class="mb-2">Weapons</h2>
			<p>The inappropriate use of weapons will not be tolerated:</p>
			<ol class="mt-1">
				<li>Be safe and conscious of yor weapons</li>
				<li>Use the verbal warning “Clear” before drawing weapons</li>
				<li>Always follow the instructions of the Range Safety Officer (RSO) when applicable</li>
				<li>Weapons are not to be handled by the public, under any circumstance</li>
				<li>Swords and daggers will be secured at all events with a device (like cord) to ensure that they cannot be removed by unauthorized personnel</li>
			</ol>
		</div>
		<div>
			<h2 class="mb-2">Disciplinary Actions</h2>
			<p>Failure to act safely & professionally may result in the following disciplinary actions:</p>
			<ul class="mt-1">
				<li>Verbal warnings</li>
				<li>Removal of weapons</li>
				<li>Expulsion from event</li>
				<li>Suspension/discharge from legion</li>
			</ul>
		</div>
	</div>
</div>
