<div class="invert">
	<div class="container py-4 px-3">
		<div>
			<div class="d-flex align-items-end justify-content-between mb-2">
				<h1 class="mb-0">Equipment Maintenance</h1>
				<a class="d-flex d-print-none justify-content-center text-muted" href="javascript:window.print()">
					<mat-icon class="me-1">print</mat-icon>
					Print
				</a>
			</div>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div>
			<h2 class="mb-2">Table of Contents</h2>
			<ul>
				<li>Wood</li>
				<ul>
					<li>Mineral Oil</li>
					<li>Linseed Oil</li>
				</ul>
				<li>Leather</li>
				<ul>
					<li>Damp Cloth</li>
					<li>Conditioner</li>
					<li>Lanolin</li>
				</ul>
				<li>Rust Removal</li>
				<ul>
					<li>White Wine Vinegar</li>
				</ul>
				<li>Metal Preservation</li>
				<ul>
					<li>WD-40</li>
					<li>Lanolin</li>
					<li>Wax</li>
				</ul>
			</ul>
		</div>
		<mat-divider></mat-divider>
		<div class="my-4 mb-5">
			<div>
				<div class="mb-4">
					<h2 class="mb-2">Leather</h2>
					<p>Dust can discolour leather & it will become brittle if it dries.</p>
					<div>
						<h3 class="mb-2">Damp Cloth</h3>
						<p>A moist cloth will remove dust and prevent the leather from dying out too much.</p>
						<table>
							<thead>
							<tr>
								<th>Pros</th>
								<th>Cons</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<ul>
										<li>Free</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Should be reapplied monthly</li>
										<li>No additional protection</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div>
						<h3 class="mb-2">Conditioners</h3>
						<p>A variety of leather conditioners exist to moisten and protect leather.</p>
						<table>
							<thead>
							<tr>
								<th>Pros</th>
								<th>Cons</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<ul>
										<li>Provides protection</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Not historically accurate</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div>
						<h3 class="mb-2">Lanolin <sup>[I]</sup></h3>
						<p>Water disolvent can be sprayed liberally on metal surfaces to remove any moister.</p>
						<table>
							<thead>
							<tr>
								<th>Pros</th>
								<th>Cons</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<ul>
										<li>Cheap</li>
										<li>Easy</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Extremely short term</li>
										<li>Leaves surface oily & smelly</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mb-3">
					<h3 class="mb-2">Wood</h3>
					<p>Like leather wood can become weathered, dry & crack over time if neglected.</p>
					<div>
						<h4 class="mb-2">Mineral Oil</h4>
						<p>Wipe wooden areas down with a cloth soaked in mineral oil.</p>
						<table>
							<thead>
							<tr>
								<th>Pros</th>
								<th>Cons</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<ul>
										<li>Conditions wood</li>
										<li>Doesn't affect color</li>
										<li>Brings out grain without adding color</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Needs to be reapplied monthly</li>
										<li>Not waterproof</li>
										<li>Doesn't add any protection</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div>
						<h4 class="mb-2">Linseed Oil</h4>
						<p>Lightly apply boiled linseed oil to wooden areas with a cloth. Then leave to dry; this can take 3-7 days.</p>
						<table>
							<thead>
							<tr>
								<th>Pros</th>
								<th>Cons</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									<ul>
										<li>Brings out color & texture</li>
										<li>Penetrates deeply to protect against humidity</li>
										<li>Adds a protective coating</li>
										<li>Water proof</li>
										<li>Reapply annually after base coat is established</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Takes a while to dry</li>
										<li>Can stain yellow over time</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mb-3">
					<h3 class="mb-2">Rust Removal</h3>
					<p>Rust can form incredibly quick & keeping your armour polished can be a constant battle.</p>
					<p>A simplre remideee </p>
				</div>
				<div class="mb-3">
					<h3 class="mb-2">Metal Preservation</h3>
					<div>
						<h4 class="mb-2">WD-40</h4>
						<p>Water disolvent can be sprayed liberally on metal surfaces to remove any moister.</p>
						<table>
							<thead>
								<tr>
									<th>Pros</th>
									<th>Cons</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<ul>
											<li>Cheap</li>
											<li>Easy</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>Extremely short term</li>
											<li>Leaves surface oily & smelly</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h4>Lanolin <sup>[I]</sup></h4>
					<h4>Wax <sup>[II]</sup></h4>
				</div>
			</div>
			<div>
				<h2>Sources</h2>
				<ol>
					<li>Tony D., <a href=""><em>Lanolin Used for Metal Preservation Grease and Rome</em></a></li>
					<li>Robert A. Buerlein, <a href=""><em>Care and Preservation of Edged Weapons</em></a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
