<div class="invert">
	<div class="banner"></div>
	<div class="container py-4 px-3">
		<div>
			<h1 class="mb-2"><em>Castra Hiberna</em> (Winter Camp)</h1>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div>
			<h2 class="mb-2">History</h2>
			<p>
				Harvest marked the traditional end of the Roman campaign season and the start of <em>mare clausum</em> (closed sea) in the <em>mare nostrum</em> (Mediterranean Sea) while the sea was most dangerous. Imperial troops that slept in <em>sub pellibus</em> (tents)
				inside the <em>castra aestiva</em> (summer camps) began preparations to relocate to more hospitable <em>castra hiberna</em> (winter camps), where they were housed in stone lodgings impervious to the elements.
			</p>
			<p>In the fall, the indigenous people had to focus their efforts on harvesting crops & preparing for the cold harsh winter. This left little time for raids & hostilities giving Roman soldiers time to rest, train & recoupe.</p>
			<h2 class="mb-2">Details</h2>
			<p>
				Tom Ross hosts a castra hiberna event in September near Tillsonburg Ontario. It's a private single day event between Romans and their adversaries. It's an excellent oportunity for new Roman reenactors. If May doesn't work for you, conscider coming to
				<a routerLink="/events/aestiva">Castra Aestiva</a> in May.
			</p>
			<h3 class="mb-0">Activities</h3>
			<ul class="mt-0">
				<li>Combat</li>
				<li>Weapons Training</li>
				<ul>
					<li><em>Gladius & scutum</em> (Sword & shield)</li>
					<li><em>Pilum</em> (Javlin throw)</li>
					<li><em>Sagittariorum</em> (Archery)</li>
					<li><em>Ballista</em> (Bolt thrower)</li>
					<li><em>Funda</em> (Sling)</li>
					<li>Stone throw</li>
				</ul>
				<li><em>Fabrica</em> (Craftsmenship)</li>
				<li>Drill & Patrols</li>
				<li>Campfires</li>
				<li>Roman games</li>
				<li>Food & Drink</li>
			</ul>
			<p>Come, participate and enjoy the camaraderie only the field of Mars can forge.</p>
		</div>
	</div>
</div>
