<div class="invert">
	<div class="container py-4 px-3">
		<div>
			<div class="d-flex align-items-end justify-content-between mb-2">
				<h1 class="mb-0">Getting Started</h1>
				<a class="d-flex d-print-none justify-content-center text-muted" href="javascript:window.print()">
					<mat-icon class="me-1">print</mat-icon>
					Print
				</a>
			</div>
			<mat-divider></mat-divider>
			<div class="mx-5 my-3 text-center text-muted">
				<h3 class="text-center mb-1 ms-3"><em>Sacramentum Militare</em> (Military Sacrament)</h3>
				<p><em>"Iurant autem milites omnia se strenue facturos quae praeceperit imperator, numquam deserturos militiam nec mortem recusaturos pro Romana republica!"</em></p>
				<p>"But the soldiers swear that they shall faithfully execute all that the Emperor commands, that they shall never desert the service, and that they shall not seek to avoid death for the Roman republic!"</p>
				<p class="text-end me-3"><em>~ Vegetius 2. 5</em></p>
			</div>
			<mat-divider class="mb-4"></mat-divider>
			<div>
				<h2 class="mb-2">Prologue</h2>
				<p>Imagine yourself as part of a heavily armoured column of Roman soldiers slowly marching along a narrow forest road. The sun beats mercilessly down on you in-between the shadows, and the humming sound of cicadas rattles off of your helmet.</p>
				<p>You vigilantly scan the dense brush for any sign of the Celtic rebels that have been haunting the area. As the column swings around a sharp bend, there is a sudden commotion to the front, and an officer screams, “shields up” just as a rain of missiles slams into you. No sooner have the projectiles clashed against your shield than the order to form a battle line is shouted.</p>
				<p>As you jostle into position to meet the enemy charge, you turn your head just in time to see the forest come alive with Celtic warriors in a frenzy. Will you live? Will you die? Join Legio XXX and experience the life of legionary first hand.</p>
				<h2 class="mb-2">Enlisting</h2>
				<p>
					If reenacting is something you would seriously like to do, great! Interest in the history of Rome is the primary requirement and you are in the right place. This guide will walk you through everything
					you need to know to get started. Acquiring a full kit may take some time & cost a couple thousand dollars (USD/CAD) however we provide <a routerLink="/diy">manuals</a> to build equipment yourself
					to save on costs. With enough notice we may be able to loan any equipment you are missing for an event, please let us know.
				</p>
				<p>
					Historically, prospective legionaries had to be at least 17 years old, however exceptions can made for mature individuals. Members must be able to physically perform the role that they portray in a
					realistic manner.
				</p>
				<h3 class="mb-0">Process</h3>
				<div class="d-flex flex-column flex-md-row justify-content-md-between">
					<div class="me-md-3">
						<ul class="mt-0">
							<li>Familiarize yourself with our <a routerLink="/rules">Rules & Regulations</a></li>
							<li>Pick out a Roman name:</li>
							<ul>
								<li>Period correct</li>
								<li>Can be fictional or non-fictional</li>
								<li>Avoid famous people/names</li>
							</ul>
							<li><a routerLink="/vendors">Purchase</a> or <a routerLink="/diy">build</a> your equipment, ordered by priority:</li>
							<ul>
								<li><span class="fw-bold"><em>Tunica</em> (Tunic)</span> - A large shirt/dress held at the waist by a cord or cloth belt</li>
								<li><span class="fw-bold"><em>Caligae</em> (Sandals)</span> - Modern leather sandals will do in a pinch</li>
								<li><span class="fw-bold"><em>Balteus</em> (Belt)</span> - A leather ornamental apron used to affix weapons</li>
								<li><span class="fw-bold"><em>Pugio</em> (Dagger)</span> - Attached to the <em>Balteus</em></li>
								<li><em>Cassis</em> (Helmet) - To protect your head</li>
								<li><em>Subarmalis</em> (Padded Vest) - Worn under your armour for comfort and protection</li>
								<li><em>Focale</em> (Scarf) - Protects the neck from chaffing</li>
								<li><em>Lorica</em> (Armour) - Segmata, hamata or plumata/squamta</li>
								<li><em>Gladius</em> (Sword) - The primary weapon of the empire</li>
								<li><em>Scutum</em> (Shield) - A large curved shield</li>
								<li><em>Pilum</em> (Javelin) - A ranged throwing weapon</li>
							</ul>
							<li><a>Submit an application</a></li>
						</ul>
					</div>
					<div class="d-flex d-print-none align-items-end">
						<img src="/assets/img/recruitment2.jpg" alt="The Roman Empire Wants You!">
					</div>
					<div class="d-none d-print-block text-center mt-5 pt-5">
						<img src="/assets/img/recruitment2.jpg" alt="The Roman Empire Wants You!">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
