xxx-placeholder:hover ::ng-deep img {
	transform: scale(1.1);
	cursor: pointer;
}

.photo-wrap {
	.delete-btn {
		display: none;
		position: absolute;
		top: 4px;
		right: 4px;
		transform: scale(0.75);
	}

	&:hover .delete-btn {
		display: block;
	}
}
