<div class="invert">
	<div class="container py-4 px-3">
		<h1 class="mb-2">Calendar</h1>
		<mat-divider class="mb-4"></mat-divider>
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FToronto&showCalendars=0&showTabs=0&showPrint=0&showTitle=0&src=YjQ4ZGI1NDc2YWY2YTI4ZGE2NGQzNDhhNThhYWI0MGQ1NjAwNWJmMmQ1YzA0NDI3MTdjZDllNmQ0OTA5YTFkZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
