<div class="banner-container">
	<img class="banner-background" [src]="images[selected]">
	<img class="banner-image" [src]="images[selected]">
	<div class="banner-previous" (click)="previous()">
		<mat-icon>skip_previous</mat-icon>
	</div>
	<div class="banner-next" (click)="next()">
		<mat-icon>skip_next</mat-icon>
	</div>
	<div class="banner-pause" (click)="manual = !manual">
		<mat-icon *ngIf="!manual">pause</mat-icon>
		<mat-icon *ngIf="manual">play_arrow</mat-icon>
	</div>
	<div *ngIf="!manual" class="banner-seal d-flex flex-column align-items-center justify-content-center">
		<img src="/assets/img/eagle.png" class="mt-5" alt="SPQR" height="250" width="250" style="filter: drop-shadow(2px 4px 6px black);">
		<div>
			<a class="text-white" routerLink="" fragment="about">
				<i class="fa fa-angle-double-down fa-4x" style="filter: drop-shadow(2px 4px 6px black);"></i>
			</a>
		</div>
	</div>
</div>
