.banner-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.banner-background {
	width: 100%;
	height: 100%;
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.banner-image {
	position: absolute;
	height: 90%;
	width: auto;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.banner-next {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translate(-50%, -50%);
}

.banner-previous {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translate(-50%, -50%);
}

.banner-seal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner-pause {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%, -50%);
}
