html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    background: black;
}

header {
    height: 100vh;
    background: black url("../img/colosseum.jpg") no-repeat top center;
    background-size: cover;
}

a { color: #ff0000; }
a:hover { color: #aa0000; }
a:visited { color: #ff5555; }
