<div class="invert">
	<div class="banner d-print-none"></div>
	<div class="container py-4 px-3">
		<div>
			<h1 class="mb-2">About</h1>
			<mat-divider class="mb-4"></mat-divider>
			<div>
				<h2 class="mb-2">Legio XXX</h2>
				<p>
					Legio XXX is a non-profit re-enactment group from southern Ontario & the north-eastern USA. It was established in 2004 with the goal of portraying all aspects of Roman military & civilian life.
					It's members represent a cross between living history enthusiasts and "edu-tainers" that recreate the lives of soldiers found in Trajan's legions during the 1st - 2nd Century AD.
					Over the years, they have participated in a wide range of events.
				</p>
				<h3 class="mb-2">Events</h3>
				<div class="d-flex flex-wrap">
					<div class="mx-3">
						<h4 class="mb-2">Film Shoots & Commercials</h4>
						<ul class="mt-0">
							<li>History Channel Film Shoot (2004)</li>
							<li>Movie trailer, Nashville Tennessee (2004)</li>
							<li>Crocodile Film Shoot (2014)</li>
							<li>BMW Commercial (2008)</li>
							<li>Villa Romana Winery (2021, 2022)</li>
						</ul>
					</div>
					<div class="mx-3">
						<h4 class="mb-2">Museums</h4>
						<ul class="mt-0">
							<li>Canadian Museum of History (formerly the Museum of Civilization), Gatineau PQ (2005)</li>
							<li>Royal Ontario Museum, Toronto ON (2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019)</li>
							<li>RCR Museum, Wolseley Barracks, London ON (2019)</li>
						</ul>
					</div>
					<div class="mx-3">
						<h4 class="mb-2">Schools</h4>
						<ul class="mt-0">
							<li>Montessori School, Hamilton ON (2012)</li>
							<li>Our Lady of Mount Carmel Academy (2016)</li>
							<li>John Chrysostom Catholic Elementary School (2017)</li>
							<li>Saunders Secondary School, London ON (2017, 2019)</li>
						</ul>
					</div>
					<div class="mx-3">
						<h4 class="mb-2">Conferences & Festivals</h4>
						<ul class="mt-0">
							<li>Toronto Living History Conference, Toronto ON (2007)</li>
							<li>Thorold Italian Festival, Thorold ON (2008)</li>
							<li>Historic Merchant’s Xmas, Hamilton ON (2009)</li>
							<li>History Symposium, London ON (2019)</li>
							<li>Artifact Day, Longwoods Road Conservation Area (2022)</li>
						</ul>
					</div>
					<div class="mx-3">
						<h4 class="mb-2">Re-enactment Events</h4>
						<ul class="mt-0">
							<li>Fort Malden, Amherstburg ON (2004, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2015, 2016)</li>
							<li>Roman Market Days (2004)</li>
							<li>NE Route March, Erie Canal (2005)</li>
							<li>Roman Days (2005)</li>
							<li>Fort Meigs, Perrysburg OH (2007, 2008)</li>
							<li>Varus Disaster New Ulm Minnesota (2009)</li>
							<li>New Glarus, Wisconsin (2010)</li>
							<li>Legio II Castrum, ON (2010)</li>
							<li>Southern Ontario Military Muster, ON (2012, 2013)</li>
							<li>Roman Field Trek, ON (2013)</li>
						</ul>
					</div>
				</div>
				<h2 class="mb-2">Castrum</h2>
				<p>Legio XXX has a re-enactment facility near Tillsonburg Ontario, graciously provided by Tom Ross. Over the years, the group has constructed it's own <em>castrum</em> (fort) nestled amidst farmland and forest.</p>
				<p class="mb-2">The <em>castrum</em> (fort) was slowly constructed over several years & is a work in progress:</p>
				<ul class="mt-0">
					<li>2007 - A <em>fossa</em> (trench) was dug and an <em>agger</em> (mound) erected from the soil</li>
					<li>2008 - The front gatehouse was constructed</li>
					<li>2009 - The front <em>vallum</em> (curtain walls) was added, flanking the gatehouse</li>
					<li>2010 - The <em>vallum</em> (curtain walls) was finished, encircling the <em>castrum</em> (fort)</li>
					<li>2011 - Four towers were added, one to each corner</li>
					<li>2013 - A <em>principia</em> (headquarters building) was erected</li>
				</ul>
				<p class="mb-2">It continues to host our annual events:</p>
				<ul class="mt-0">
					<li>Castra Aestiva (2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022)</li>
					<li>Castra Hiberna (2017, 2018, 2021, 2022)</li>
				</ul>
				<h2>Special Thanks</h2>
				<p>Robert Sacco - <em>Aquilifer</em> (Eagle bearer) & Legio XXX's president</p>
				<p>David Blain - <em>Tribunus angusticlavius</em> (Executive officer) & subject matter expert, providing much of this site's content</p>
				<p>Tom Ross - Legio XXX's <em>patronus</em> (patron) providing re-enactment facilities near Tillsonburg Ontario</p>
				<p>Robert Norton - <em>Armicustos</em> (Quartermaster) & provider of most of our <a routerLink="/diy">manuals</a></p>
			</div>
		</div>
	</div>
</div>
