<div class="invert">
	<div class="container py-4 px-3">
		<div>
			<h1 class="mb-2">Drill Commands</h1>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div>
			<p>Unfortunately no training manuals from the 1st century have survived. The closest surviving reference comes from the <strong>Strategikon</strong> which was wrritten by <strong>Flavius Mauricius Tiberius Augustus</strong> who ruled Byzantium from 582-602 AD.</p>
			<p>With lack of historical information, Legio XXX along with other local re-enactment groups, established the following drill manual based on modern military drill.</p>
		</div>
		<div>
			<h2 class="mb-2">General</h2>
			<table class="table table-striped w-100 mb-3">
				<thead>
				<tr class="text-start">
					<th><em>Latin</em></th>
					<th>English</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><em>Ad arma</em></td>
					<td>Fall In</td>
					<td>Fall into position at ease, single file to the left of the <em>vexillum</em> (standard)</td>
				</tr>
				<tr>
					<td><em>Laxate</em></td>
					<td>At Ease</td>
					<td>Relax with feet shoulder's width apart & equipment resting on the ground; disiplin should be maintained (don't move feet, face the front & remain quite)</td>
				</tr>
				<tr>
					<td><em>Mandata captate</em></td>
					<td>Attention</td>
					<td>Stand at attention; Legs together, arms at side, equipment off the ground</td>
				</tr>
				<tr>
					<td><em>Silentium</em></td>
					<td>Silence</td>
					<td>Silence the ranks</td>
				</tr>
				</tbody>
			</table>
			<h2>Marching</h2>
			<h2>Formations</h2>
			<h2>Weapons</h2>
			<h3>General</h3>
			<h3>Pilum</h3>
			<h3>Gladius</h3>
			<h3>Artillery</h3>
			<h2>Miscellaneous</h2>
		</div>
	</div>
</div>
