<div class="invert">
	<div class="cap-width py-5 px-3">
		<div>
			<div class="d-flex align-items-end justify-content-between mb-2">
				<h1 class="mb-0">Drill Commands</h1>
				<a class="d-none d-print-none d-sm-flex justify-content-center text-muted" href="javascript:window.print()">
					<mat-icon class="me-1">print</mat-icon>
					Print
				</a>
			</div>
			<mat-divider></mat-divider>
			<br>
		</div>
		<div class="my-4 mb-5">
			<p>Unfortunately no training manuals from the 1st century have survived. The closest surviving reference comes from the <strong>Strategikon</strong> which was written by <strong>Flavius Mauricius Tiberius Augustus</strong> who ruled Byzantium from 582-602 AD.</p>
			<p>With little historical information, Legio XXX along with other local re-enactment groups, established the following drill manual based on what we do know & modern military drill.</p>
		</div>
		<div>
			<table class="table2 w-100 mb-3">
				<colgroup>
					<col style="width: 20%">
					<col style="width: 20%">
					<col style="width: 70%">
				</colgroup>
				<thead>
				<tr>
					<th><em>Latin</em></th>
					<th>English</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr class="subtitle">
					<th colspan="3">General</th>
				</tr>
				<tr>
					<td><em>Ad arma</em></td>
					<td>Fall In</td>
					<td>Fall into position to the left of the <em>vexillum</em> (standard); stand at ease</td>
				</tr>
				<tr>
					<td><em>Mandata captate</em></td>
					<td>Attention</td>
					<td>Stand at attention; legs together, arms at side, equipment off the ground</td>
				</tr>
				<tr>
					<td><em>Laxate</em></td>
					<td>At Ease</td>
					<td>Relax with feet shoulder's width apart, equipment may rest on the ground; maintain discipline (don't move feet, face the front & remain quite)</td>
				</tr>
				<tr>
					<td><em>Vos Dimitto</em></td>
					<td>Dismissed</td>
					<td>Fall out of formation</td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Dressing Ranks</th>
				</tr>
				<tr>
					<td><em>Frontem dirigite</em></td>
					<td>Right Dress (Close Order)</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Spatium Date</em></td>
					<td>Right Dress</td>
					<td>Everyone but the right most person raises their right arm parallel to the ground with a closed fist & places it against the next person's shoulder. Everyone should be 1 arms length (~3') away from the next</td>
				</tr>
				<tr>
					<td><em>Extendite</em></td>
					<td>Right Dress (Double Spacing)</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Intrăte</em></td>
					<td>Form Two Ranks</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Iungite</em></td>
					<td>Close Ranks</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Exite</em></td>
					<td>Form Single Rank</td>
					<td></td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Turning</th>
				</tr>
				<tr>
					<td><em>Ad gladios clinate</em></td>
					<td>Right Face</td>
					<td>Turn 90° to the right, pivoting on the right heal & left toes</td>
				</tr>
				<tr>
					<td><em>Ad scuta clinate</em></td>
					<td>Left Face</td>
					<td>Turn 90° to the left, pivoting on the left heal & right toes</td>
				</tr>
				<tr>
					<td><em>Transformate</em></td>
					<td>About Face</td>
					<td>Turn 180° to the right, pivoting on the right heal & left toes</td>
				</tr>
				<tr>
					<td><em>Ad scutum transformate</em></td>
					<td>About Face to the Left</td>
					<td>Turn 180° to the left, pivoting on the left heal & right toes</td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Formations</th>
				</tr>
				<tr>
					<td><em>Agmen formate</em></td>
					<td>Marching column</td>
					<td>Step off with the left foot, maintain a pace of 120 steps/minute</td>
				</tr>
				<tr>
					<td><em>Aciem formate</em></td>
					<td>Battle line</td>
					<td>
						Soldiers form a line with their <em>pilum</em> at the ready. This is not a shield wall, 6' spacing should
						be maintained between each column.
					</td>
				</tr>
				<tr>
					<td><em>Cuneum formate</em></td>
					<td>Wedge</td>
					<td>Centerio is placed at the tip of the wedge with soldiers trailing off his side</td>
				</tr>
				<tr>
					<td><em>Orbem formate</em></td>
					<td>Circle</td>
					<td>Form a defensive circle with ranged units & officers in the center</td>
				</tr>
				<tr>
					<td><em>Quadratum formate</em></td>
					<td>Square</td>
					<td>Form a defensive square with ranged units & officers in the center</td>
				</tr>
				<tr>
					<td><em>Testudinem formate</em></td>
					<td><em>Testudo</em> (Tortis)</td>
					<td>
						First rank raises shields to eye height, the following ranks lift their shields onto their heads overlapping the rank in-front.
						Formation advances together using a chant to stay in step ("Ro-ma, Ro-ma" or "Dex-Sin, Dex-Sin")
					</td>
				</tr>
				<tr>
					<td><em>Porro</em></td>
					<td>Advance</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Ordinem servate</em></td>
					<td>Hold position</td>
					<td></td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Marching</th>
				</tr>
				<tr>
					<td><em>Tarde movete</em></td>
					<td>Slow march</td>
					<td>Step off with the left foot, maintain a pace of 60 steps/minute</td>
				</tr>
				<tr>
					<td><em>Movete</em></td>
					<td>March</td>
					<td>Step off with the left foot, maintain a pace of 120 steps/minute</td>
				</tr>
				<tr>
					<td><em>Duplex tempus</em></td>
					<td>Double time</td>
					<td>Step off with the left foot, maintain a pace of 180 steps/minute</td>
				</tr>
				<tr>
					<td><em>State</em></td>
					<td>Halt</td>
					<td>Issued on the right step, stop on the left foot and stand at attention</td>
				</tr>
				<tr>
					<td><em>Ad gladios rotate</em></td>
					<td>Right Wheel</td>
					<td>
						The first rank swings 90° to the right like a door, everyone else need only follow the person in front of them.
						The innermost side will have to shorten their step (even marching on the spot) while the outermost will have to take
						larger steps to maintain a straight front line.
					</td>
				</tr>
				<tr>
					<td><em>Ad scuta rotate</em></td>
					<td>Left Wheel</td>
					<td>
						The first rank swings 90° to the left like a door, everyone else need only follow the person in front of them.
						The innermost side will have to shorten their step (even marching on the spot) while the outermost will have to take
						larger steps to maintain a straight front line.
					</td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Weapons: Pilum</th>
				</tr>
				<tr>
					<td><em>Pila deponite</em></td>
					<td>Lay down javelin</td>
					<td>Lay flat on the ground</td>
				</tr>
				<tr>
					<td><em>Pila infigite</em></td>
					<td>Plant javelin</td>
					<td>Stick vertically into the ground</td>
				</tr>
				<tr>
					<td><em>Pila tollite</em></td>
					<td>Pickup javelin</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Pila parate</em></td>
					<td>Prepare to throw</td>
					<td>Place one foot ahead & raise your <em>pilum</em> up</td>
				</tr>
				<tr>
					<td><em>Pila iacite</em></td>
					<td>Throw</td>
					<td>
						Advance 3 steps and throw, 2nd rank will advance through gaps in the first rank.
						Immediately draw your sword after
					</td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Weapons: Gladius</th>
				</tr>
				<tr>
					<td><em>Gladios stringite</em></td>
					<td>Draw swords</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Gladios recondite</em></td>
					<td>Sheath swords</td>
					<td></td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Weapons: Ranged Types</th>
				</tr>
				<tr>
					<td><em>Funditor</em></td>
					<td>Slingers</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Sagittarii</em></td>
					<td>Archers</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Ballistam</em></td>
					<td>Bolt thrower</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Catapultam</em></td>
					<td>Catapult</td>
					<td></td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Weapons: Ranged Commands</th>
				</tr>
				<tr>
					<td><em>[Type] Parate</em></td>
					<td>Prepare weapons</td>
					<td></td>
				</tr>
				<tr>
					<td><em>[Type] torquete</em></td>
					<td>Wind/cock</td>
					<td>Exclusive to artillery pieces</td>
				</tr>
				<tr>
					<td><em>[Type] sagittam ponite</em></td>
					<td>Load</td>
					<td></td>
				</tr>
				<tr>
					<td><em>[Type] dirigite</em></td>
					<td>Aim</td>
					<td></td>
				</tr>
				<tr>
					<td><em>[Type] dimittite</em></td>
					<td>Fire</td>
					<td></td>
				</tr>
				<tr>
					<td><em>[Type] tutam reddite</em></td>
					<td>Secure weapons</td>
					<td></td>
				</tr>
				<tr class="subtitle">
					<th colspan="3">Miscellaneous</th>
				</tr>
				<tr>
					<td><em>Exspectate</em></td>
					<td>Wait for it</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Parate</em></td>
					<td>Prepare</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Parati</em></td>
					<td>Ready</td>
					<td></td>
				</tr>
				<tr>
					<td><em>Nunc</em></td>
					<td>Now</td>
					<td>Execute the preceding command (Ex. "ad gladios clinate... nunc")</td>
				</tr>
				<tr>
					<td><em>Sin[ister]/Gladios</em></td>
					<td>Right/Sword [hand]</td>
					<td>Legio XXX prefers to use <em>gladios</em> instead of <em>sin</em></td>
				</tr>
				<tr>
					<td><em>Dex[ter]/Scuta</em></td>
					<td>Left/Shield [hand]</td>
					<td>Legio XXX prefers to use <em>scuta</em> instead of <em>dex</em></td>
				</tr>
				<tr>
					<td><em>Clamate</em></td>
					<td>Battle cry</td>
					<td><em>Ro..ma! Ro..ma! Ro..ma!</em></td>
				</tr>
				<tr>
					<td><em>Silentium/Tacete</em></td>
					<td>Silence</td>
					<td>Silence any chatter in the ranks</td>
				</tr>
				<tr>
					<td><em>Accelerate</em></td>
					<td>Speed Up</td>
					<td>Can be prepended to other commands</td>
				</tr>
				<tr>
					<td><em>Tardate/Tarde</em></td>
					<td>Slow Down/Slowly</td>
					<td>Can be prepended to other commands</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
