<div class="logo d-flex align-items-center">
	<img src="assets/img/eagle.png" class="me-1" alt="SPQR" style="height: 2.5rem; width: auto;">
	<div class="d-inline-flex" aria-label="Legio XXX" style="font-family: Serif; font-weight: lighter">
		<div>L</div>
		<div [@slide]="expand ? 'expand' : 'shrink'" style="overflow: hidden">EGIO · </div>
		<div [@margin]="expand ? 'expand' : 'shrink'" [style.marginLeft]="expand ? '0.25rem' : 0">XXX</div>
		<div *ngIf="loading">{{dots | async}}</div>
	</div>
    <div *ngIf="loadingText" class="logo-footer text-center">{{loadingText}}</div>
</div>
